body{
    background-repeat: no-repeat;
    background-size: cover;
    color: antiquewhite;
}
h1{
    background-color: aqua;
    width: 100%;
    top: 0px;
    height: 40px;
    font-size: larger;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 0px;
}
canvas{
  border: 5px ridge rgb(19, 190, 113);
  
}
div{
    background-color:rgb(141, 95, 153);
    bottom: 0px;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
}
input{
    background-color: rgb(4, 65, 70);
}
h4{
    background-color: darkcyan;
}